
@media (width < 768px) {

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: #540B51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 1rem;
    position: fixed;
    box-sizing: border-box;
    top: 0;
}
.right-navbar {
   display: flex;
}
.left-navbar {
   display: flex;
}
.left-navbar img {
   height: 5vh;
   align-self: center;
}
.left-navbar ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
   gap: 1rem;
    }
.left-navbar ul a {
   text-decoration: none;
   color: white;
}
.right-navbar {
   gap: 1rem;
}
.navbar button {
   background-color: transparent;
   border: none;
}
header {
   text-align: center;
   padding-top: 10vh;
   background-color: #540B51;
   color: white;
}
header p {
   font-size: 1rem;
}
header h1 {
   padding: 1rem;
   font-size: 3rem;
  }
  header p span {
   color: #ECB12F;
   font-weight: bolder;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: stretch;
  }
  .button {
    text-transform: uppercase;
    border: transparent;
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-weight: bolder;
    font-size: 1rem;
    height: 3rem;
  }
  .white-button {
    background-color: white;
    color: #540B51;
    padding-right: 230px;
    padding-left: 230px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .google-button {
    background-color: #2E71A6;
    color: white;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10;
    margin-left: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .google-button img {
    width: 20px;
    background-color: white;
    border-radius: 2px;
    padding: 8px;
  }
  .google-button span {
    align-self:center;
    display: flex;
    justify-content: space-evenly;
  }
  .header-screenshot {
    width: 100vw;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

/*
Section 2 starts here
*/

.back-color {
    background-color: #F3EAE2;
}

.trusted {
    display: flex;
    justify-content: center;
    padding: 60px;
    font-size: 50px;
}

.sponsorshipsOne {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    margin: auto;
    width: auto;
}

.sponsorshipsTwo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    margin: auto;
    width: auto;
}

.connect {
    display: flex;
    justify-content: flex-start;
}

.bring-team-together {
    padding: 30px;
    font-size: 30px;
}

.learn-more-channels {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: #2E71A6
}

.choose-how-to-work {
    padding: 30px;
    font-size: 30px;
}

.learn-more-communication {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: #2E71A6
}

.flexibility {
    display: flex;
    justify-content: flex-end;
}

.speed {
    display: flex;
    justify-content: flex-start;
}

.move-faster {
    padding: 30px;
    font-size: 30px;
}

.learn-more-slack {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: #2E71A6;
    padding-bottom: 30px;
}

.teams-percentages {
    padding: 20px;
}

.teamsRelyOnSlack {
    display: flex;
    justify-content: center;
    font-size: 60px;

}

.slack-secure {
    font-size: 25px;
    text-align: center;
}

.purpleButtonWhite {
    display: flex;
    justify-content: center;
    background-color: #540B51;
    color: white;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #540B51;
    border-radius: 5px;
    align-items: center;
    margin: auto;
}

.purpleButtonWhiteText {
    font-size: 40px;
}

.whiteButtonPurple {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #540B51;
    padding-right: 355px;
    padding-left: 355px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #540B51;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10;
    margin-left: auto;
}

.whiteButtonPurpleText {
    font-size: 40px;
}

.userPercentagesMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.userPercentages {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #540B51;
    font-size: 70px;
}

.user-statement {
    font-size: 25px;
    text-align: center;
}


/* the start of last section */
.welcome {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.purpleButtonWhiteLast {
    display: flex;
    justify-content: center;
    background-color: #540B51;
    color: white;
    padding-right: 365px;
    padding-left: 365px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #540B51;
    border-radius: 5px;
    align-items: center;
    margin: auto;
}

.whiteButtonPurpleLast {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #540B51;
    padding-right: 355px;
    padding-left: 355px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #540B51;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10;
    margin-left: auto;
}

.why-slack li em {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px;
}

.whySlack {
    padding: 15px;
}


.line {
    align-items: center;
    height: auto;
    width: 95vw;
}
.no-line {
    visibility: hidden;
}
.why-slack li {
    display: flex;
}
.horizontal-info {
display: flex;
justify-content: space-around;
flex-direction: column;
font-weight: bold;
font-size: 1rem;
padding: 20px;
}

.vertical-infor {
    padding: 20px;
}

.changeRegion {
    padding-right: 10px;
}

.download-slack {
    color: #2E71A6;
}

.downloadSlack {
    padding-right: 10px;
}

.last-page li {
    list-style-type: none;
}
#logos {
    display: flex;
    justify-content: space-between;
}
.why-slack {
  display: flex;
  justify-content: space-between;
}
.copyright {
font-weight: lighter;
   margin: 1rem;
   padding: 1rem;
}
.iso-slack {
    margin-left: 2em;
}
.final-page {
        background-color: #540B51;
        color: white;
        width: auto;
        height: 30rem;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        font-size: 3.2rem;
        padding-top: 2rem;
}
.whiteBorderButton {
    border-color: white;
    border-width: 0.1rem;
}

}
/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
